<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Index</title>
</head>
<body >
  <section class="flex align-items-center justify-content-center">
    <nav class="nav">
      <a href="/news?page=1" class="navbar-brand p-4 mx-auto">NEWS</a>
    </nav>
  
    <div id="main">
      <h1>Bienvenidos <br> a <br> las noticias</h1>
      
    </div>
  
    <footer class="nav navbar-dark p-4 d-flex justify-content-end">
      <a href="#" class="navbar-brand mx-2"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="navbar-brand mx-2"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="navbar-brand mx-2"><i class="fa-brands fa-twitter"></i></a>
    </footer>
  </section>
</body>
</html>